    /* Responsividade */
@media (max-width: 768px) {
  .foto {
    width: 120px;
    height: 120px;
  }

  h1{
    text-align: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  input, textarea, button {
    font-size: 0.95rem;
  }
}